working/Logs

EventBuilder
*.root
*.pcm
*.d
*.so

data_raw
root_data

Cleopatra/ExtractXSec
Cleopatra/ExtractXSecFromText
Cleopatra/FindThetaCM
Cleopatra/InFileCreator
Cleopatra/Isotope
Cleopatra/IsotopeShort
Cleopatra/PlotSimulation
Cleopatra/PlotTGraphTObjArray
Cleopatra/Transfer