working/Logs

EventBuilder
*.root
*.pcm
*.d
*.so

.gdb_history

data
data_raw
root_data

*.in
*.out
*.txt
*.csv

Cleopatra/ExtractXSec
Cleopatra/ExtractXSecFromText
Cleopatra/FindThetaCM
Cleopatra/InFileCreator
Cleopatra/Isotope
Cleopatra/IsotopeShort
Cleopatra/PlotSimulation
Cleopatra/PlotTGraphTObjArray
Cleopatra/SimAlpha
Cleopatra/SimTransfer

__pycache__